In [25]:
import pandas as pd
import yfinance as yf
import pandas_ta as ta

df = pd.DataFrame()  # Empty DataFrame

# Load data
df = df.ta.ticker("BTC-USD", period="7d", interval="1m")

# Take a peek
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-06-20 06:04:00+00:00,26811.843750,26811.843750,26811.843750,26811.843750,727236608,0.0,0.0
2023-06-20 06:05:00+00:00,26827.265625,26827.265625,26827.265625,26827.265625,865280,0.0,0.0
2023-06-20 06:06:00+00:00,26824.525391,26824.525391,26824.525391,26824.525391,0,0.0,0.0
2023-06-20 06:07:00+00:00,26810.375000,26810.375000,26810.375000,26810.375000,7664640,0.0,0.0
2023-06-20 06:08:00+00:00,26794.490234,26794.490234,26794.490234,26794.490234,6569984,0.0,0.0

In [26]:
# List of indicator categories
df.ta.categories

# Running a Categorical Strategy only requires the Category name
df.ta.strategy("Momentum")  # Default values for all Momentum indicators
df.ta.strategy("overlap")  # Override all Overlap 'length' attributes
df.tail()

32it [00:02, 12.53it/s]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ALMA_10_6.0_0.85,DEMA_10,EMA_10,...,SWMA_10,T3_10_0.7,TEMA_10,TRIMA_10,VIDYA_14,VWAP_D,VWMA_10,WCP,WMA_10,ZL_EMA_10
Datetime,,,,,,,,,,,,,,,,,,,,,
2023-06-20 06:04:00+00:00,26811.843750,26811.843750,26811.843750,26811.843750,727236608,0.0,0.0,26838.912394,26809.992891,26826.968227,...,26820.983333,26827.822833,26809.601086,26820.983333,26857.268921,26910.885449,26812.561904,26811.843750,26819.052628,26815.328661
2023-06-20 06:05:00+00:00,26827.265625,26827.265625,26827.265625,26827.265625,865280,0.0,0.0,26825.306681,26813.177629,26827.022299,...,26818.537630,26823.863128,26815.418515,26818.537630,26855.872236,26910.873190,26812.577970,26827.265625,26819.269141,26818.809743
2023-06-20 06:06:00+00:00,26824.525391,26824.525391,26824.525391,26824.525391,0,0.0,0.0,26815.872780,26814.869417,26826.568316,...,26818.085286,26820.703267,26818.458501,26818.085286,26854.393512,26910.873190,26812.460297,26824.525391,26819.718004,26819.292843
2023-06-20 06:07:00+00:00,26810.375000,26810.375000,26810.375000,26810.375000,7664640,0.0,0.0,26815.172267,26811.643328,26823.624077,...,26818.355273,26818.008170,26814.349246,26818.355273,26851.877233,26910.742849,26812.321623,26810.375000,26818.219709,26816.918932
2023-06-20 06:08:00+00:00,26794.490234,26794.490234,26794.490234,26794.490234,6569984,0.0,0.0,26815.915306,26804.190623,26818.327014,...,26817.697786,26815.253652,26804.640849,26817.697786,26848.113552,26910.613752,26811.778445,26794.490234,26814.004332,26809.685802

In [27]:
help(ta.yf)

Help on function yf in module pandas_ta.utils.data.yahoofinance:

yf(ticker: str, **kwargs)
    yf - yfinance wrapper

    It retrieves market data (ohlcv) from Yahoo Finance using yfinance.
    To install yfinance. (pip install yfinance) This method can also pull
    additional data using the 'kind' kwarg. By default kind=None and retrieves
    Historical Chart Data.

    Other options of 'kind' include:
    * All: "all"
        - Prints everything below but only returns Chart History to Pandas TA
    * Company Information: "info"
    * Institutional Holders: "institutional_holders" or "ih"
    * Major Holders: "major_holders" or "mh"
    * Mutual Fund Holders: "mutualfund_holders" or "mfh"
    * Recommendations (YTD): "recommendations" or "rec"
    * Earnings Calendar: "calendar" or "cal"
    * Earnings: "earnings" or "earn"
    * Sustainability/ESG Scores: "sustainability", "sus" or "esg"
    * Financials: "financials" or "fin"
        - Returns in order: Income Statement, Balance Sheet and Cash Flow
    * Option Chain: "option_chain" or "oc"
        - Uses the nearest expiration date by default
        - Change the expiration date using kwarg "exp"
        - Show ITM options, set kwarg "itm" to True. Or OTM options, set
        kwarg "itm" to False.
    * Chart History:
        - The only data returned to Pandas TA.

    Args:
        ticker (str): Any string for a ticker you would use with yfinance.
            Default: "SPY"
    Kwargs:
        calls (bool): When True, prints only Option Calls for the Option Chain.
            Default: None
        desc (bool): Will print Company Description when printing Company
            Information. Default: False
        exp (str): Used to print other Option Chains for the given Expiration
            Date. Default: Nearest Expiration Date for the Option Chains
        interval (str): A yfinance argument. Default: "1d"
        itm (bool): When printing Option Chains, shows ITM Options when True.
            When False, it shows OTM Options: Default: None
        kind (str): Options see above. Default: None
        period (str): A yfinance argument. Default: "max"
        proxy (dict): Proxy for yfinance to use. Default: {}
        puts (bool): When True, prints only Option Puts for the Option Chain.
            Default: None
        show (int > 0): How many last rows of Chart History to show.
            Default: None
        snd (int): How many recent Splits and Dividends to show in Company
            Information. Default: 5
        verbose (bool): Prints Company Information "info" and a Chart History
            header to the screen. Default: False

    Returns:
        Exits if the DataFrame is empty or None
        Otherwise it returns a DataFrame of the Chart History